﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Vip Auction</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--This bundle was moved by the Kendo UI VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    
    <!--This CSS entry was added by the Kendo UI VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1315/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2012.3.1315/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2012.3.1315/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2012.3.1315/kendo.dataviz.silver.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2012.3.1315/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2012.3.1315/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2012.3.1315/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/auction/layoutscripts.js")"></script>

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div>
                <nav>
                    @{Html.Kendo().Menu()
                          .Name("menu")
                          .HtmlAttributes(new { style = "width: 100%;" })
                          .Items(items =>
                          {
                              items.Add()
                                  .Text(ViewRes.MenuResource.Home)
                                  .Action("Index", "Home");
                              items.Add()
                                  .Text(ViewRes.MenuResource.Catalog)
                                  .Action("Index", "Lot", new { id = "all" });
                              items.Add()
                                  .Text(ViewRes.MenuResource.About)
                                  .HtmlAttributes(new {id="aboutBtn"});
                              items.Add().Text(ViewRes.MenuResource.ViewUsers)
                                  .HtmlAttributes(new {  id = "MenuAdminUsers" })
                                  .Visible(true)
                                  .Action("Index", "Admin");
                              items.Add().Text(ViewRes.MenuResource.ApproveLots)
                                  .HtmlAttributes(new { id = "MenuAdminLots" })
                                  .Visible(true)
                                  .Action("Catalog", "Admin");
                          })
                          .Render();
                    }
                </nav>
            </div>

            <div   class="float-right">
                <section >
                    <span id="layout">
                        <span id="d1">
                            @Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)
                            @Html.ActionLink("RU", "ChangeCulture", "Home", new { lang = "ru", returnUrl = this.Request.RawUrl }, null)
                        </span>

                        <span id="profile">
                             <a href="#" onclick="showMyProfile()"  data-bind="text:currentUserName"></a>
                        </span>
                        <span id="loginUser" class="k-button" data-bind="visible:registerAndLoginShow">
                            @ViewRes.ButtonResource.SignInButton
                        </span>
                        <span id="registerUser" class="k-button" data-bind="visible:registerAndLoginShow">
                            @ViewRes.ButtonResource.RegisterButton
                        </span>
                        <span id="logout" class="k-button" data-bind="visible:logoutShow">
                           @ViewRes.ButtonResource.LogoutButton
                        </span>
                   </span>
                    @(Html.Kendo().Window()
                        .Name("Register_new_user")
                        .Title(ViewRes.TitleResource.UserRegistrationWindowTitle)
                        .Content(@<text>
                        <div id="register_window_main_div" class="formMain">
                            <ul class="fieldlist">
                                <li>
                                    @*possibly labelfor*@
                                    @Html.Label(ViewRes.UserResource.Login + "*")
                                    <input type="text" id="Login" class="editableValue k-textbox" />
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.FirstName + "*")
                                    <input type="text" id="FirstName" class="editableValue k-textbox" />
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.LastName + "*")
                                    <input type="text" id="LastName" class="editableValue k-textbox" />
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.DateOfBirth)
                                    @(Html.Kendo().DatePicker()
                                      .Name("datepicker")
                                      .Value(DateTime.Now)
                                      .HtmlAttributes(new Dictionary<string, object>() { { "class", "editableValue" } })
                                     )
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.Email + "*")
                                    <input type="text" id="email" class="editableValue k-textbox" />
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.Password + "*")
                                    <input type="password" id="password" class="editableValue k-textbox" />
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.PasswordConfirm)
                                    <input type="password" id="confirmPassword" class="editableValue k-textbox" />
                                </li>
                            </ul>
                            <i>* @ViewRes.TitleResource.RequiredFieldText</i>
                            <div class="descriptionBlock">
                                <textarea id="userAgreementText" readonly="readonly">
                                    @ViewRes.TitleResource.UserAgreementText
                                </textarea>
                            </div>
                            <p>
                                <input type="checkbox" id="acceptCheckbox" />@ViewRes.TitleResource.UserAgreementConfirm
                            </p>

                            <ul data-bind="source: errors"></ul>

                            <p id="congirmMessage" data-dat="@ViewRes.UserResource.ComplitationMessage"></p>
                            
                            <div class="toolbar">
                                <button id="confirming" data-bind="visible:isAcceptrules" class="k-button toolbutton" >@ViewRes.ButtonResource.RegisterButton</button>
                                <button  id="canceling" class="k-button toolbutton" >@ViewRes.ButtonResource.CloseButton</button>
                            </div>
                        </div>
                        </text>).Visible(false)
                        .Draggable()
                        .Width(500)
                        .Modal(true)
                        .Events(ev => ev.Close("onClose").Open("onRegistrationWindowOpen"))
                    )


                    @(Html.Kendo().Window()
                        .Name("Login_user")
                        .Title(ViewRes.MenuResource.SignIn)
                        .Content(@<text>
                        <div id="Login_new_user" class="formMain">
                            <ul class="fieldlist">
                                <li>
                                    @* <label for="UserLogin">Login*</label>*@
                                    @Html.Label(ViewRes.UserResource.Login + "*")
                                    <input type="text" id="UserLogin" class="editableValue k-textbox" />
                                </li>
                                <li>
                                    @Html.Label(ViewRes.UserResource.Password + "*")
                                    <input type="password" id="UserPassword" class="editableValue k-textbox" />
                                </li>
                            </ul>

                            <p>
                                @Html.ActionLink(ViewRes.TitleResource.ForgotPassword, "PasswordRecover", "Home")
                            </p>

                            <ul data-bind="source: errors"></ul>

                            <div class="toolbar">
                                <input id="Logining" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.SignInButton"  />
                                <input id="Canceling" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.CancelButton" />
                            </div>
                        </div>
                        </text>)
                        .Visible(false)
                        .Draggable()
                        .Width(500)
                        .Modal(true)
                        .Events(ev => ev.Close("onClose").Open("onLoginWindowOpen"))
                    )


                    @(Html.Kendo().Window()
                      .Name("About_Window")
                      .Title(ViewRes.MenuResource.About_OurHistory)
                      .Visible(false)
                      .Modal(true)
                      .Draggable()
                      .Resizable()
                      .Width(600)
                      .Content(@<text>
                              <div class="aboutMain">
                                <img src="/Images/ssu.jpg" class="fieldAbout" />
                                <p>This is VIP Auction</p><br />
                                <p>Our Contacts: e-mail: DP033@gmail.com, tel: +38056123123</p><br />
                                <p>©2013</p><br />
                                <span id="aboutOk" class="k-button center">Ok</span>
                             </div>
                             </text>)
                     )
                </section>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Vip Auction</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
 <div id="viewLotWindow"></div>
 <div id="viewMyProfileWindow"></div>