﻿/*---------------Home Page-------------------*/
#mainPageContent
{
    width: 100%;
    position: relative;
}

#logo
{
    width: 450px;
    height: 300px;
    margin: 0 auto;
    background: url("../Images/Logo.png") no-repeat;
}

#mainPageContent #table-footer
{
    width: 100%;
    height: 200px;
    background-color: #efeeef;
}

#mainPageContent #table-news
{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

/*--------------------------Grids-------------------------*/
#gridMainDiv
{
    height: auto;
}

#betsTableBlock
{
    position: absolute;
    top: 0px;
    left: 290px;
    padding: 10px 20px 20px 20px;
}

    #betsTableBlock #LotBetsList
    {
        width: 300px;
        height: 150px;
    }


/*-------------------------Search-------------------------*/
#searchToolbar
{
    display: block;
    float: right;
    width: 400px;
    float: right;
    margin: auto;
    padding: 5px 0 5px 0;
}

    #searchToolbar label
    {
        display: inline-block;
        width: 160px;
        text-align: right;
    }

    #searchToolbar span
    {
        margin-left: 15px;
        width: 200px;
    }

        #searchToolbar span input
        {
            width: 175px;
        }

        #searchToolbar span a
        {
            /*display: block;*/
            width: 10px;
        }

/*-----------------------------Forms-----------------------*/
.formMain
{
    width: auto;
    height: auto;
    padding: 5px 15px;
}

/*Add lot form*/
.forms
{
    float: left;
    min-width: 200px;
}

    .forms li
    {
        margin-bottom: 5px;
        padding: 0px 0;
        list-style: none;
        height: 35px;
    }

        .forms li .title
        {
            display: inline-block;
            width: 130px;
            text-align: left;
        }

        .forms li .editablevalue
        {
            width: 200px;
            text-align: left;
        }

        .forms li .value
        {
            margin-top: 8px;
            display: inline-block;
            width: 50px;
            text-align: left;
        }

/*-------------------Путукфд ащкь іуеештпі ащк дще фтв гіук мшуц--------------------*/
.fieldlist, .myLotViewMain_myLotViewMain_fname
{
    width: 100%;
    float: left;
    margin: 0;
    padding: 5px 0 5px 0;
}

    .fieldlist li, .myLotViewMain_myLotViewMain_fname li
    {
        list-style: none;
        padding: 0px 0;
        margin-bottom: 5px;
        width: 100%;
        height: 30px;
    }

    .fieldlist label
    {
        display: inline-block;
        width: 40%;
        text-align: left;
    }

    .fieldlist .editableValue
    {
        width: 55%;
    }

    /*View Lot form*/
    .myLotViewMain_myLotViewMain_fname label
    {
        display: inline-block;
        width: 180px;
        height: 30px;
        text-align: left;
    }

    .myLotViewMain_myLotViewMain_fname .myProfileValue
    {
        width: 50px;
    }
/*--------------------------Description-----------------------*/
#addLotBlock_descriptionBlock
{
    width: 95%;
    clear: left;
    margin: 0px auto;
    padding-right: 5px;
}

    #addLotBlock_descriptionBlock textarea
    {
        width: 100%;
        margin: 0px auto;
        height: 100px;
    }

.descriptionBlock
{
    width: 100%;
    margin: 5px auto;
    padding-right: 20px;
}

    .descriptionBlock textarea
    {
        width: 98%;
        height: 120px;
    }
/*----------------------------Toolbars------------------------*/

/*Additional buttons at the bottom of the grid*/
#additionalButtons
{
    float: right;
    width: 100%;
    margin: 5px, 15px;
}

    #additionalButtons input
    {
        width: 150px;
        height: 30px;
        margin: 10px 20px;
        padding: 0;
        vertical-align: central;
        float: right;
    }


#addLotBlock_toolbar
{
    width: 500px;
    height: 30px;
    padding: 0 0 0 30px;
    margin: 30px auto 10px auto;
}

    #addLotBlock_toolbar .toolbutton
    {
        min-width: 90px;
        height: 30px;
        vertical-align: central;
        padding: 0;
        margin: 0 70px;
    }

.toolbar
{
    float: right;
    width: auto;
    height: 40px;
    margin: auto;
}

    .toolbar .toolbutton
    {
        min-width: 90px;
        height: 30px;
        vertical-align: central;
        padding: 0;
    }

    .toolbar .toolbutton:disabled
    {
        background-color: gray;
    }

    .toolbar .toolbutton:disabled:hover
    {
        background-color: black;
    }

.aboutMain
{
    width: 95%;
    padding-top: 15px;
    margin: 0 auto;
}

.fieldAbout
{
    width: 100%;
    margin-bottom: 15px;
}
