﻿@Scripts.Render("~/bundles/lot")
@{
    ViewBag.Title = "Index";
}

<div id="gridMainDiv" class="k-block">
    @(Html.Kendo().Grid<SoftServe.VipAuction.Web.Models.ViewLotViewModel>()
    .Name("ViewLotsGrid")
    .Pageable()
    .Sortable()
    .ToolBar(toolbar => toolbar
        .Template(@<text>
    <div id="searchToolbar" class="fieldlist">
        <label for="searchTextBox">@ViewRes.TitleResource.SearchTitle</label>
        <span id="searchTextBox" class="k-textbox k-space-right">
            <input id="searchedText" type="text" value="@ViewRes.MessageResource.SearchMessage" 
                onfocus="lotIndex.searchedTextOnFocus('@ViewRes.MessageResource.SearchMessage')" 
                onblur="lotIndex.searchedTextLostFocus('@ViewRes.MessageResource.SearchMessage')" />
            <a href="#" class="k-icon k-i-search" 
                onclick="lotIndex.searchLots('@ViewRes.MessageResource.SearchMessage', '@(ViewBag.userId)')">&nbsp;</a>
        </span>
    </div>
    </text>)
        )
    .Columns(columns =>
        {
            columns.Bound(l => l.LotId).Title(@ViewRes.LotResource.Id).Width(30);
            columns.Bound(l => l.Name).Title(@ViewRes.LotResource.Name).Width(200);
            columns.Bound(l => l.OwnerName).Title(@ViewRes.LotResource.UserId).Width(150);
            columns.Bound(l => l.StartingPrice).Title(@ViewRes.LotResource.StartingPrice).Format("${0}").Width(150);
            columns.Bound(l => l.EndDateTime).Title(@ViewRes.LotResource.EndDateTime).Format("{0:dd.MM.yyyy}");
            columns.Command(cmd => cmd
                    .Custom(@ViewRes.ButtonResource.ViewButton)
                    .Click("lotIndex.viewLotClick")
                ).Width(50);
        }
        )
    .DataSource(ds => ds
        .Ajax()
        .Read(read => read
            .Action("GetLots", "Lot", new { id = ViewBag.userId })
            )
        .Model(model => model.Id("LotId"))
        .PageSize(20)

    )
    .Events(ev => ev
        .DataBound("lotIndex.gridChanged"))
    .Resizable(r => r.Columns(true))
)
    @if ((int)Session["UserId"] != -1)
    {
    <div id="additionalButtons">
        <input id="additionalButtons-addNewLotButton" type="button" class="k-button" value="@ViewRes.ButtonResource.AddLotButton" 
            onclick="lotIndex.openAddLotWindow()"/>
    </div>
    }
</div>

@(Html.Kendo().Window()
    .Name("AddNewLotWindow")
    .Title(@ViewRes.TitleResource.CreateLotWindowTitle)
    .Content(@<text>
<div id="addLotBlock">
    <ul class="forms">
        <li>
            <label for="faddLotBlock_name" class="title">@ViewRes.LotResource.Name</label>
            <input id="faddLotBlock_name" type="text" value="" class="editablevalue k-textbox" />
        </li>
        <li>
            <label for="faddLotBlock_startingprice" class="title">@ViewRes.LotResource.StartingPrice</label>
            <input id="faddLotBlock_startingprice" type="text" value="" class="editablevalue k-textbox" />
        </li>
        <li>
            <label for="faddLotBlock_endDate" class="title">@ViewRes.LotResource.EndDateTime</label>
            @(Html.Kendo().DatePicker()
                          .Name("faddLotBlock_endDate")
                          .Value(DateTime.Now.AddMonths(3).Date.ToShortDateString())
                          .HtmlAttributes(new Dictionary<string, object>() { { "class", "editableValue" } })
                       )
        </li>
    </ul>
    <ul class="forms">
        <li>
            <label for="ffaddLotBlock_owner" class="title">@ViewRes.LotResource.State</label>
            <label id="ffaddLotBlock_owner" class="value">User</label>
        </li>
        <li>
            <label for="ffaddLotBlock_enddate" class="title">@ViewRes.LotResource.LotStateBlocked</label>
            <label id="ffaddLotBlock_enddate" class="value">No</label>
        </li>
    </ul>

    <div id="addLotBlock_descriptionBlock">
        <label>@ViewRes.LotResource.Description</label>
        <textarea id="addLotDescriptionText">
        </textarea>
    </div>
    <div id="addLotBlock_toolbar">
        <input id="btnAddLotAdd" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.AddLotButton" 
            onclick="lotIndex.btnAddLotAddClick()"/>
        <input id="btnAddLotClose" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.CloseButton" 
            onclick="lotIndex.closeAddLotWindow()"/>
    </div>
</div>
</text>)
    .Draggable()
    .Visible(false)
    .Width(650)
    .Height(370)
    .Modal(true)
)

@*<script>
    function searchLots(text, id) {
        var search = $("#searchedText").attr("value");
        var defaultValue = text;
        if (search == defaultValue) search = "";
        $("#ViewLotsGrid").data("kendoGrid").dataSource.transport.options.read.url = '/Lot/GetLots/' + id + '?searchedText=' + search;
        $("#ViewLotsGrid").data("kendoGrid").dataSource.read();
    }
    function viewLotClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#viewLotWindow").kendoWindow({
            width: "640px",
            title: "@ViewRes.TitleResource.ViewLotWindowTitle",
            draggable: true,
            height: "420px",
            scrollable: false,
            modal: true,
            content: "@(Url.Action("ViewLot", "Lot"))/"+dataItem.LotId+"?role=0",
            visible: false
        });
        $("#viewLotWindow").data("kendoWindow").center().open();
    }

    function searchedTextOnFocus(text) {
        var defaultValue = text;
        var value = $("#searchedText").attr("value");
        if (value == defaultValue) {
            $("#searchedText").attr("value", "");
        }
    }

    function searchedTextLostFocus(text) {
        var defaultValue = text;
        var value = $("#searchedText").attr("value");
        if (value == "") {
            $("#searchedText").attr("value", defaultValue);
        }
    }

    function gridChanged() {
        var height = $("#ViewLotsGrid").height();

        $("#gridMainDiv").height(height + 50);
    }

    function btnAddLotAddClick() {
        var value = $("#txtMakeBet").attr("value");
        $("#fcurrentprice").html(value);
        $.when(
            $.ajax({
                url: '@Url.Action("AddLot", "Lot")',
                type: "POST",
                data: {
                    "Name": $("#faddLotBlock_name").attr("value"),
                    "StartingPrice": $("#faddLotBlock_startingprice").attr("value"),
                    "Description": $("#addLotDescriptionText").val(),
                    EndDateTime: $("#faddLotBlock_endDate").attr("value"),
                    "Status": 1,
                    blocked: false
                },
                dataType: "json"
            })
        ).done(
            function (data, textStatus, jqXHR) {
                $("#ViewLotsGrid").data("kendoGrid").dataSource.read();
            }
        );

        $('#AddNewLotWindow').data('kendoWindow').close()
    }
</script>*@