﻿@model SoftServe.VipAuction.Web.Models.ViewLotViewModel
@Scripts.Render("~/bundles/lot")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginForm</title>
</head>
<body>
    <div class="formMain">
        <ul class="myLotViewMain_myLotViewMain_fname">
            <li>
                <label for="fname">@ViewRes.LotResource.Name</label>
                <label id="fname">@(Model.Name)</label>
            </li>
            <li>
                <label for="fstartingprice">@ViewRes.LotResource.StartingPrice</label>
                <label id="fstartingprice">@(Model.StartingPrice)</label>
            </li>
            <li>
                <label for="fcurrentprice">@ViewRes.LotResource.CurrentBet</label>
                <label id="fcurrentprice">@(Model.CurrentBet)</label>
            </li>
            <li>
                <label for="fowner">@ViewRes.LotResource.OwnerName</label>
                <label id="fowner">@(Model.OwnerName)</label>
            </li>
            <li>
                <label for="fenddate">@ViewRes.LotResource.EndDateTime</label>
                <label id="fenddate">@(Model.EndDateTime.ToShortDateString())</label>
            </li>
        </ul>


        <div class="descriptionBlock">
            <label>@ViewRes.LotResource.Description</label>
            <textarea readonly="readonly">
            @(Model.Description)
        </textarea>
        </div>


        <div class="toolbar">
            @if (ViewBag.admin == false)
            {
    
                if ((int)Session["UserId"] != -1)
                {
                    <input id="txtMakeBet" type="text" class="k-textbox" value="@(Model.CurrentBet + 10)" />
                    <input id="btnMakeBet" type="button" class="k-button toolbutton" 
                        value="@ViewRes.ButtonResource.MakeBetButton" onclick="lotView.makeBetClick('@(Model.LotId)')" />
                }
                <input id="btnclose" type="button" class="k-button toolbutton" 
                    value="@ViewRes.ButtonResource.CloseButton" onclick="lotView.closeViewLotWindow()" />
            }
            else
            {
                <input type="button" id="AdminApproveLotDetails_allow" class="k-button toolbutton" 
                    value="@ViewRes.ButtonResource.AllowButton" onclick="lotView.changeLotState(2, '@(Model.LotId)')" />
                <input type="button" id="AdminApproveLotDetails_deny" class="k-button toolbutton" 
                    value="@ViewRes.ButtonResource.DenyButton" onclick="lotView.changeLotState(1, '@(Model.LotId)')" />
                <input type="button" id="btnclose" class="k-button toolbutton" 
                    value="@ViewRes.ButtonResource.CloseButton" onclick="lotView.closeViewLotWindow()" />
            }
        </div>

        @if (ViewBag.admin == false)
        {
            <div id="betsTableBlock">
                @(Html.Kendo().Grid<SoftServe.VipAuction.Web.Models.BetViewModel>()
            .Name("LotBetsList")
            .Sortable()
            .Scrollable()
            .Columns(columns =>
            {
                columns.Bound(l => l.OpenDate).Title(@ViewRes.BetResource.OpenDate).Format("{0:dd.MM.yyyy}");
                columns.Bound(l => l.UserName).Title(@ViewRes.BetResource.UserId);
                columns.Bound(l => l.BetValue).Title(@ViewRes.BetResource.BetValue);
            }
                )
            .DataSource(ds => ds
                .Ajax()
                .Read(read =>
                    read.Action("GetBetsByLot", "Bet", new { Id = Model.LotId })
                    )
            )
        )
            </div>
        }

    </div>
</body>
</html>
