﻿@Scripts.Render("~/bundles/admin")
<div id="gridMainDiv" class="k-block">
    @(Html.Kendo().Grid<SoftServe.VipAuction.Web.Models.ApproveLotViewModel>()
    .Name("List_of_lots")
    .Pageable()
    .Sortable()
    .ToolBar(toolbar => toolbar
        .Template(@<text>
    <div id="searchToolbar" class="fieldlist">
        <label for="searchTextBox">@ViewRes.TitleResource.SearchTitle</label>
        <span id="searchTextBox" class="k-textbox k-space-right">
            <input id="searchedText" type="text" value="@ViewRes.MessageResource.SearchMessage" 
                onfocus="adminAproveLotsView.searchedTextOnFocus('@ViewRes.MessageResource.SearchMessage')" 
                onblur="adminAproveLotsView.searchedTextLostFocus('@ViewRes.MessageResource.SearchMessage')" />
            <a href="#" class="k-icon k-i-search" 
                onclick="adminAproveLotsView.searchLots('@ViewRes.MessageResource.SearchMessage')">&nbsp;</a>
        </span>
    </div>
    </text>)
        )
    .Columns(columns =>
        {
            columns.Bound(l => l.LotId).Title(ViewRes.LotResource.Id).Width(30);
            columns.Bound(l => l.Name).Title(ViewRes.LotResource.Name).Width(200);
            columns.Bound(l => l.OwnerName).Title(ViewRes.LotResource.UserId).Width(150);
            columns.Bound(l => l.StartingPrice).Title(ViewRes.LotResource.StartingPrice).Format("${0}").Width(150);
            columns.Bound(l => l.EndDateTime).Title(ViewRes.LotResource.EndDateTime).Format("{0:dd.MM.yyyy}");
            columns.Template(e => { }).ClientTemplate("#:data.State#").Title(ViewRes.LotResource.State);
            columns.Command(cmd => cmd
                    .Custom(ViewRes.ButtonResource.ViewButton)
                    .Click("adminAproveLotsView.showDetails")
                ).Width(50);
        }
        )
    .DataSource(ds => ds
        .Ajax()
        .Read(read => read
            .Action("GetApproveLots", "Lot")
            )
        .Model(model => model.Id("LotId"))
        .PageSize(20)

    )
    .Events(ev => ev
        .DataBound("adminAproveLotsView.gridChanged"))
    .Resizable(r => r.Columns(true))
)
@*    <div id="additionalButtons">
        <input type="button"  class="k-button" id="List_of_lots_apply" value="@ViewRes.ButtonResource.ApplyButton"/>
        <input type="button" class="k-button" id="List_of_lots_cancel" value="@ViewRes.ButtonResource.CancelButton"/>
    </div>*@
</div>

