﻿@Scripts.Render("~/bundles/admin")
<div id="gridMainDiv" class="k-block">
    @(Html.Kendo().Grid<SoftServe.VipAuction.Web.Models.UserViewModel>()
    .Name("List_of_users")
    .Pageable()
    .Sortable()
    .ToolBar(toolbar => toolbar
        .Template(@<text>
    <div id="searchToolbar" class="fieldlist">
        <label for="searchTextBox">@ViewRes.TitleResource.SearchTitle</label>
        <span id="searchTextBox" class="k-textbox k-space-right">
            <input id="searchedText" type="text" value="@ViewRes.MessageResource.SearchMessage" 
                onfocus="adminUserView.searchedTextOnFocus('@ViewRes.MessageResource.SearchMessage')" 
                onblur="adminUserView.searchedTextLostFocus('@ViewRes.MessageResource.SearchMessage')" />
            <a href="#" class="k-icon k-i-search" 
                onclick="adminUserView.searchUsers('@ViewRes.MessageResource.SearchMessage')">&nbsp;</a>
        </span>
    </div>
    </text>)
        )
    .Columns(columns =>
        {
            columns.Bound(u=>u.UserId).Title(ViewRes.UserResource.Id);
            columns.Bound(u => u.FirstName).Title(ViewRes.UserResource.FirstName);
            columns.Bound(u => u.LastName).Title(ViewRes.UserResource.LastName);
            columns.Bound(u => u.Experience).Title(ViewRes.UserResource.Experience);
            columns.Bound(u => u.Discount).Title(ViewRes.UserResource.Discount);
            columns.Template(e => { }).ClientTemplate("#:data.Status#").Title(ViewRes.UserResource.Status);
            columns.Bound(u => u.IsBlocked).Title(ViewRes.UserResource.IsBlocked);
            columns.Command(cmd => cmd
                    .Custom(ViewRes.ButtonResource.ViewButton)
                    .Click("adminUserView.showDetails")
                ).Width(50);
        }
        )
    .DataSource(ds => ds
        .Ajax()
        .Read(read => read
            .Action("GetUsers", "User")
            )
        .Model(model => model.Id("UserId"))
        .PageSize(20)

    )
    .Events(ev => ev
        .DataBound("adminUserView.gridChanged"))
    .Resizable(r => r.Columns(true))
)

</div>
