﻿@Scripts.Render("~/bundles/registration")
@{
    ViewBag.Title = "RegisterConfirmation";
}
<form>
    <div>
        @(Html.Kendo().Window()
          .Name("RegisterConfirmation")
          .Title(ViewRes.UserResource.RegistrationConfirmationTitle)
          .Visible(true)
          .Modal(true)
          .Draggable()
          .Width(600)
          .Content(@<text> @if (ViewBag.confirm)
                           {
                               <p>@ViewRes.UserResource.ConfirmSuccessMessage</p>                                                                        
                           }
                           else
                           {
                               <p>@ViewRes.UserResource.ConfirmFailMessage</p>
                           }</text>)
       .Events(e => e.Close("regConfirm.redirect").Open("regConfirm.openWindow"))
        )
        
    </div>
</form>
