﻿@model SoftServe.VipAuction.Web.Models.UserProfileViewModel
@Scripts.Render("~/bundles/myProfile")
@{
    Layout = null;
    ViewBag.Title = "MyProfile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginForm</title>
</head>
<body>
    <div class="formMain">
        <ul class="fieldlist">
            <li>
                <label for="flogin">@ViewRes.UserResource.Login</label>
                @if ((int)Session["UserId"] == Model.UserId)
                {
                    <input id="flogin" type="text" readonly="true" value="@Model.UserName" class="editableValue k-textbox"/>
                    <input id="floginTemp" type="hidden" value="@Model.UserName"/>
                }
                else
                {
                    <label id="flogin">@Model.UserName</label>
                }
            </li>
            <li>
                <label for="ffirstname">@ViewRes.UserResource.FirstName</label>
                @if ((int)Session["UserId"] == Model.UserId)
                {
                    <input id="ffirstname" type="text" readonly="true" value="@Model.FirstName" class="editableValue k-textbox"/>
                    <input id="ffirstnameTemp" type="hidden" value="" />
                }
                else
                {
                    <label id="ffirstname">@Model.FirstName</label>
                }
            </li>
            <li>
                <label for="flasttname">@ViewRes.UserResource.LastName</label>
                @if ((int)Session["UserId"] == Model.UserId)
                {
                    <input id="flasttname" type="text" readonly="true" value="@Model.LastName" class="editableValue k-textbox"/>
                    <input id="flasttnameTemp" type="hidden" value="" />
                }
                else
                {
                    <label id="flasttname">@Model.LastName</label>
                }
            </li>
            <li>
                <label for="femail">@ViewRes.UserResource.Email</label>
                @if ((int)Session["UserId"] == Model.UserId)
                {
                    <input id="femail" type="text" readonly="true" value="@Model.Email" class="editableValue k-textbox"/>
                    <input id="femailTemp" type="hidden" value="" />
                }
                else
                {
                    <label id="femail">@Model.Email</label>
                }
            </li>
        </ul>
        <hr />
        <ul class="fieldlist">
            <li>
                <label for="fstatus">@ViewRes.UserResource.Status</label>
                <label id="fstatus">@Model.Status</label>
            </li>
            <li>
                <label for="fblocked">Blocked</label>
                <!-- Change true on yes and false on no in view model -->
                <label id="fblocked">@Model.IsBlocked.ToString()</label>
            </li>
        </ul>
        <hr />
        <ul class="fieldlist">
            <li>
                <label for="fbalance">@ViewRes.UserResource.Balance</label>
                <label id="fbalance">$@Model.Balance</label>
            </li>
            <li>
                <label for="fptsbymonth">@ViewRes.UserResource.PoinsByMonth</label>
                <label id="fptsbymonth">@Model.PoinsByMonth</label>
            </li>
            <li>
                <label for="ftotalpts">@ViewRes.UserResource.TotalPoints</label>
                <label id="ftotalpts">@Model.TotalPoints</label>
            </li>
            <li>
                <label for="fdiscount">@ViewRes.UserResource.Discount</label>
                <label id="fdiscount">@Model.Discount</label>
            </li>
            <li>
                <label for="fexpirience">@ViewRes.UserResource.Experience</label>
                <label id="fexpirience">@Model.Experience</label>
            </li>
        </ul>

        <hr />

        <div class="toolbar">
            @if ((int)Session["UserId"] == Model.UserId)
            {
                <input id="btnedit" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.EditButton" 
                onclick="myProfile.btnEditClick('@ViewRes.ButtonResource.SaveButton', '@ViewRes.ButtonResource.CancelButton',
                                                '@ViewRes.ButtonResource.EditButton', '@ViewRes.ButtonResource.CloseButton', @(Model.UserId))"/>
                <input id="btnlots" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.MyLotsButton" 
                onclick="window.location.href = '@(Url.Action("Index", "Lot", new { id = Model.UserId }))    '"/>
            }
            else
            if ((int)Session["RoleId"] == 1)
            {
                <input type="button" id="AdminUserDetails_block" class="k-button toolbutton" 
                value="@if (Model.IsBlocked)
                       {<text>@ViewRes.ButtonResource.UnblockButton</text>}
                       else
                       {<text>@ViewRes.ButtonResource.BlockButton</text>}"  
                    onclick="myProfile.btnBlockClick('@ViewRes.ButtonResource.BlockButton', '@ViewRes.ButtonResource.UnblockButton',
                                            '@(Model.UserId)',  '@(Model.UserName)', '@(Model.FirstName)', '@(Model.LastName)', '@(Model.Email)')"/>
            }
            <input id="btnclose" type="button" class="k-button toolbutton" value="@ViewRes.ButtonResource.CloseButton" 
            onclick="myProfile.btnCLoseClick('@ViewRes.ButtonResource.EditButton', '@ViewRes.ButtonResource.CloseButton', @(Model.UserId))" />
        </div>
    </div>

    <script>
    </script>
</body>
</html>
