﻿@*@{
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink(ViewRes.MenuResource.Home, "Index", "Home")</li>
        <li>@Html.ActionLink(ViewRes.MenuResource.About, "About", "Home")</li>
        <li>@Html.ActionLink(ViewRes.MenuResource.About_Contacts, "Contact", "Home")</li>
    </ul>
</aside>*@