﻿@{
    ViewBag.Title = "Vip Auction: Home Page";
}
<script>
    $(document).ready(function () {
        $(".main-content.content-wrapper").css("max-width", "100%");
        $(".main-content.content-wrapper").css("padding-top", "0");
        $("#body").css("background-color", "#efeeef");
        $("#body").css("padding-bottom", "0px");
        $("#body").css("background", 'url("../Images/Background1.jpg") repeat-x');

    });
</script>
<div id="mainPageContent">
    <div id="logo">
    </div>
    <div id="table-footer">
        <div id="table-news">
            @(Html.Kendo().Grid<SoftServe.VipAuction.Web.Models.LastPublishedLotViewModel>()
    .Name("ViewLotsGrid")
    .Sortable()
    .Columns(columns =>
        {
            columns.Bound(l => l.Name).Title(ViewRes.LotResource.Name).Width(150);
            columns.Bound(l => l.OwnerName).Title(ViewRes.LotResource.UserId).Width(150);
            columns.Bound(l => l.StartingPrice).Title(ViewRes.LotResource.StartingPrice).Format("${0}").Width(150);
            columns.Bound(l => l.EndDateTime).Title(ViewRes.LotResource.EndDateTime).Format("{0:dd.MM.yyyy}").Width(150);
            columns.Bound(l => l.Description).Title(ViewRes.LotResource.Description);
        }
        )
    .DataSource(ds => ds
        .Ajax()
        .Read(read => read
            .Action("GetLastLots", "Lot")
            )
        .Model(model => model.Id("LotId"))
        .PageSize(3)
    )
    .Resizable(resize => resize.Columns(true))
)
        </div>
    </div>
</div>
